/* background */
body{
    background-image: url("./images.jpg");
    -webkit-background-size: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;
}
/* Header text */
.header-text {
    font-size:3rem;  
    line-height: 1.2;
    color: #000000;
   
  }  
/* navbar styles */
.navbar { 
  background-color:  #666;  
  color: #b6d7e2;  
  padding-bottom: 0;
  border-bottom: solid;
  border-bottom-color: #ccc;
  width: 100%;
  text-align: center;
  height: 10%;
}

/* Search button color */
.btn {
    color: #fff;
    background-color: #7b141e;    
}
/* Current Day Schedular ID */
#currentDay{
    padding: 0px;
    font-size: 20px;
    color: linen;
    text-align: center;
    margin: 0em;
  }
  /* footer nar bar  */
.footer {
    background-color:  salmon;   
    height: 7%;    
    border-top: solid;
    border-top-color: #856404;  
    border-top-width: 5px;
    text-align: center; 
  }

  .footer-text{
    width: 100%;
    text-align: center;
    font-size: 15px;
    color:white;
    padding: 12px;
  }
  /* for temperature data display body area */
   .col-12 .box {   
    background:whitesmoke;
    border-radius: 12px;
    width: 760px;
    margin-top: -2px;
}
/* temperature font */
.temperatureFont {
  font-family: 'Quicksand', sans-serif;
}
/* 5 Day forecaste colon  */
.forecastBgrd {
  background: rgb(50,152,220);
  background: linear-gradient(0deg, rgba(50,152,220,1) 0%, rgba(95,191,255,1) 88%);
}
/* temperature display box  */
.bg-light {
  margin-top: 15px;
  border-radius: 10px;
  
}
/* forecaste Image size */
.imgsize {
  width: 100px;
  float: right;
  margin-right: 60%;

}
/* searched city button  */
li{
  margin-bottom: 10px;
  margin-left: -40px;
}
.nav-bar{
  text-align: center;
  background-color: salmon;
}
/*Large devices (desktops, 992px and up) */
@media only screen and (max-width:992px) {
  .navbar .header-text{       
    padding-bottom: 0;
    border-bottom: solid;   
    width: 100%;
    text-align: center;
    height: 10%;
  }
  .footer {     
    height: 7%;    
    border-top: solid;      
    border-top-width: 5px;
    text-align: center; 
  }
  
.h1 {
  font-size: 2.5rem;
  text-align: center;
}
}
/*Small devices (landscape phones, 320px and up)*/
@media only screen and (max-width:320px) { 
.col-12 .box {
  width: 100%;
}
.container{
  width: 100%;
}
.navbar .footer .col-4 .row .nav{
  width: 100%;
  height:auto;  
}
.header-text{
  font-size: 16px;
}
.h1 {
  font-size: 2rem;
}
}